body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

#homeUserLogin {
  position: absolute;
  top: 0;
  right: 0;
}

.articlePrev {
  list-style-type: none;
}

.commentsList {
  list-style-type: none;
}
#commentsList {
  list-style-type: none;
}

#signOutButton {
  position: absolute;
  top: 70%;
}

#loggedInUserLink {
  position: relative;
  top: 95%;
  right: 45%;
  margin-top: 10%;
}

#loggedInAs {
  position: relative;
  top: 0%;
  right: 0%;
  margin-bottom: 4%;
  margin-top: 0%;
}

#signOutButton {
  position: relative;
  top: 0%;
  right: 10%;
}

.initialLogin {
  position: absolute;
  top: 0%;
  right: 2%;
  margin-top: 0%;
}

#loginBox {
  position: relative;
  top: 5%;
  right: 2%;
  margin-top: 15%;
}

#signUpButton {
  position: relative;
  top: 0%;
  right: -30%;
}

#loginButton {
  position: relative;
  top: -1%;
  font-size: 90%;
}

#loginButton:hover {
  background: rgb(2, 202, 102);
  color: white;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.initialLogin {
  font-weight: bold;
}

.button {
  border-radius: 9px;
  background: white;
  color: black;
  border: none;
}

textarea {
  resize: none;
}

.fadeRepo {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  margin: none;
  padding: 3%;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeRepo {
  text-align: center;
  margin: 0%;
}

.articleViewer {
  margin-left: 0%;
  padding: 0%;
}

#singleArticle {
  padding: 0%;
}

#commentsViewer {
  padding: 0%;
}

#postArticleForm {
  margin: auto;
}

#signUp {
  right: 0%;
  position: absolute;
  margin-top: 0%;
}

#logOut {
  right: 0%;
  position: absolute;
}

#loggedInUserLink {
  right: 0%;
  position: absolute;
  top: 14%;
}

#loggedinAs {
  right: 0;
  position: relative;
}

#topicsViewer {
  padding: 0%;
}

#homeLogins {
  list-style-type: none;
  font-size: 90%;
  text-align: center;
  word-wrap: normal;
  padding: 0%;
}

#homeSuggestion {
  font-size: 90%;
  margin-bottom: 0%;
}

#allArticles {
  background-image: linear-gradient(rgb(80, 96, 112), black);
  margin-bottom: 1%;
  padding: 1%;
}

#allArticlesTitle {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  margin: 0%;
  padding: 0%;
  margin-top: 2%;
}

.articleViewer {
  bottom: 0%;
  top: 29%;
  width: 100%;
  position: absolute;
  margin-bottom: 0%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: auto;
  margin-right: 1%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

#postArticle {
  background: white;
  border: none;
  position: absolute;
  top: 65%;
  right: 0;
}

#postArticle:hover {
  background: rgb(2, 202, 102);
  color: white;
}

#singleArticleTitle {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  margin: 0%;
}

#singleArticleBody {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  margin-bottom: 1%;
  padding: 1%;
}

#addComment {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  margin: 0%;
  padding: 1%;
  text-align: center;
}

#addCommentTitle {
  margin-top: 0;
}

#addCommentButton {
  margin-top: 0.5%;
}

#addCommentButton:hover {
  background: rgb(2, 202, 102);
  color: white;
}

#addCommentText {
  width: 100%;
  background: rgb(44, 54, 63);
  color: white;
  border: none;
}

#addCommentText::placeholder {
  color: white;
}

#logOut:hover {
  background: rgb(214, 17, 17);
  color: white;
}

#signUp:hover {
  background: rgb(48, 48, 179);
  color: white;
}

#loadingSpinner {
  height: 200px;
  width: 100%;
  text-align: center;
}

#spinner {
  width: 19%;
  height: 60%;
  margin-left: 40%;
}

#homeTitle {
  background: rgb(80, 96, 112);
  margin: 0%;
  margin-bottom: 11.5%;
}

#navBar {
  text-align: left;
  font-size: 120%;
  background-image: linear-gradient(rgb(80, 96, 112), black);
}

#NavTitle {
  text-align: center;
  margin: auto;
  position: relative;
  top: -40px;
  height: 20px;
  width: 50%;
}

#singleComment {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

#commentRemoved {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

#noCommentsTitle {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

#articlesLoading {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

#userArticlesName {
  text-align: center;
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  margin: 0%;
  padding: 0%;
  margin-top: 0.5%;
}

#articleSort {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  text-align: center;
}

#sortByTitle {
  margin-top: 2%;
  margin-bottom: 0%;
}

#sortSelect {
  background: rgb(44, 54, 63);
  color: white;
}

#allTopicsTitle {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  margin: 0;
  margin-top: 2%;
}

#topicView {
  background-image: linear-gradient(rgb(80, 96, 112), black);

  padding: 1%;
}

#topicsViewer {
  bottom: 0%;
  top: 28%;
  width: 100%;
  position: absolute;
  margin-bottom: 0%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: auto;
  margin-right: 1%;
}

#articleTitle {
  background: rgb(44, 54, 63);
  color: white;
}

#selectedTopic {
  background: rgb(44, 54, 63);
  color: white;
  margin: auto;
  display: block;
  margin-top: 1%;
}

#newTopicSlug {
  background: rgb(44, 54, 63);
  color: white;
  display: block;
  margin: auto;
  margin-top: 1%;
}

#topicsLoading {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  text-align: center;
}

#newTopicDescription {
  background: rgb(44, 54, 63);
  color: white;
  display: block;
  margin: auto;
  margin-top: 1%;
}

#articleBody {
  background: rgb(44, 54, 63);
  color: white;
  display: block;
  margin: auto;
}

#postNewArticle {
  background: white;
  border: none;
}

#postNewArticle:hover {
  background: rgb(2, 202, 102);
  color: white;
}

#postAnArticle {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

#formError {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  text-align: center;
}

#topicError {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  text-align: center;
}

#signUpTitle {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

.signUpWording {
  font-weight: bold;
  text-align: center;
}

.signUpInput {
  background: rgb(44, 54, 63);
  color: white;
  display: block;
  margin: auto;
}

#signUpFormButton {
  margin-left: 47.5%;
}

#signUpFormButton:hover {
  background: rgb(2, 202, 102);
  color: white;
}

#loginBox {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  color: white;
}

#errorMessage {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

#alreadySigned {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

#finishSignUp {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

#newUserNameError {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

#upVote:hover {
  background: rgb(2, 202, 102);
  color: white;
}

#downVote:hover {
  background: rgb(214, 17, 17);
  color: white;
}

#deleteArticle {
  position: relative;
  margin-left: 1%;
}

#deleteArticle:hover {
  background: rgb(214, 17, 17);
  color: white;
}

.singleArticle {
  bottom: 0%;
  top: 16%;
  width: 100%;
  position: absolute;
  margin-bottom: 0%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: auto;
  margin-right: 1%;
}

#addedComment {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

#loginLoad {
  float: right;
}

#loggingIn {
  font-weight: bold;
  margin: 0;
}

#signUpForm {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

#articleDeleted {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

#postArticleForm {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
}

.postArticleWording {
  font-weight: bold;
  text-align: center;
}

#noUserArticles {
  background-image: linear-gradient(black, rgb(80, 96, 112), black);
  text-align: center;
}

#articleTitle {
  display: block;
  margin: auto;
  margin-top: 1%;
}

.postArticleWording {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

#postArticleButton {
  display: block;
  margin: auto;
  margin-top: 1%;
}

#postArticleButton:hover {
  background: rgb(2, 202, 102);
  color: white;
}
